body {
    background-color: #06d6a0;
}
.btn-outline-light {
    width: 150px;
    margin: 5px;
    white-space: normal;
    color: #fff !important;
    border-color: #fff;
}
.btn-outline-light:hover {
    color: #118ab2 !important;
}

.positions-text {
    color: #fff;
    padding: 30px;
}
h3 {
    margin-bottom: 30px;
    color: #fff;
}
h2 {
    font-size: 22px;
    margin-top: 20px;
    border: 0.5px solid rgba(255,255,255,.7);
    padding: 20px;
    background-color: #06d6a0;
}
.white-text {
    color: #fff;
}
.margin-bottom {
    margin-bottom: 20px;
}
.third-right {
    background-color: #118ab2;
}

.positions-btn {
    margin: auto;
}
.active {
    color: #118ab2!important;
}
.lists{
    list-style: none;
}
.lists li:before {
    content: '- ';
}
img {
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
    max-width: 500px;
    display: block;
    margin: auto;
}
.anchor {
    height: 500px; 
    margin-top: -500px;
}


@media screen and (max-width: 1125px) {
    img {
        width: 450px;
    }
}
@media screen and (max-width: 992px) {
    .third-left {
        background-color: #118ab2;
        color: #fff;
    }
    .third-right {
        background-color: #fff;
        color: #000;
    }
}
@media screen and (max-width: 540px) {
    .anchor {
        height: 100px; 
        margin-top: -100px;
    }
@media screen and (max-width: 500px) {
   img {
       width: 380px;
   }
}

@media screen and (max-width: 430px) {
    img {
            width: 320px
        }
}
@media screen and (max-width: 365px) {
    img {
            width: 280px
        }
    }