/*#F6FEFF - almost white
#82C3D7 - light blue
#B2B5BA - grey
#F1DD6C - yellow
#161325 - almost black */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.nav-logo {
    max-width: 200px;
}
.bg-light {
    background-color: #06d6a0!important; 
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #FFF;
    margin-top: -2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFF;
}
.navbar {
    font-size: 20px;
    color:#F6FEFF;
    border-bottom: 0.5px solid rgba(255,255,255,.7);
}
.main-slide {
    background-color: #06d6a0;
    color: #FFF;
    height: 550px;
    padding: 100px;
}
h1 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 110px;
}
.main-text {
    font-size: 22px;
margin-top: 40px;
}
.btn-arrow {
padding: 10px 40px 5px 40px;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
}

.icon {
    max-width:500px;
    margin: auto;
}

.carousel-control-next .carousel-control-prev {
    color: #118ab2;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;  
}
.main-row {
    display: flex;
}
.column {
    flex: 50%;
padding: 60px;    
}
.main-right {
    background-color: #06d6a0;
}
.main-right-text {
    color: #F6FEFF;
    font-weight: bold;
    font-size: 90px;
    font-family: 'Poiret One', cursive;
    -webkit-filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.3));
}
.main-left{
    background-color: #06d6a0;
}
.main-left-text {
    color: #161325;
    font-size: 20px;
    margin: 50px;
}
.btn-outline-info {
    width: 150px;
    margin: 5px;
    white-space: normal;
    color: #118ab2 !important;
    border-color: #118ab2;
}
.btn-outline-info:hover {
background-color: #118ab2;
color: #fff !important;
}
.text-positions {
    margin-bottom: 30px;
}
.event-column {
    padding: 40px;
}
.second-right {
    background-color: #F6FEFF;
}
.second-left {
    background-color: #118ab2;
}
.third-right {
    background-color: #06d6a0;
}
.third-left {
    background-color: #F6FEFF;
}

.events {
    background-color: #06d6a0
}
.main-slide .row {
margin: auto;
}

.embeded-event {
margin: 20px;
}

.d-block {
    margin: 0 auto;
}
.carousel-control-prev-icon {
    background-image: url("back.svg");
}
.carousel-control-next-icon {
    background-image: url("forward.svg");
}
footer {
    background-color: #06d6a0;
    color: #fff;
    padding: 20px 30px;
}
.anchor {
    display: block;
    height: 90px; 
    margin-top: -90px; 
    visibility: hidden;
}
.text-events {
    margin-bottom: 30px;
}
.center {
    width: 50%;
}