body {
    background-color: #06d6a0;
}
.btn-primary {
background-color: #fff;
border: none !important;
color: #118ab2;
margin: 5px;
white-space: normal;
}
.btn-primary:hover {
    background-color: #118ab2;
    color: #fff !important;
}
.follow-text {
    color: #fff;
    padding: 30px;
}
h2 {
    font-size: 22px;
    margin-top: 20px;
    border: 0.5px solid rgba(255,255,255,.7);
    padding: 20px;
    background-color: #06d6a0;
}
.card {
    margin: 20px;
    border: none;
    border: 0.5px solid rgba(255,255,255,.7);
    color: #fff;
    background-color: #06d6a0;
   
}
.card-img-top {
    border: 0.5px solid rgba(255,255,255,.7);
    padding: 10px;
    background-color: #fff;
}
.all-cards {
    margin: 30px;
}

footer {
    border-top: 0.5px solid rgba(255,255,255,.7);
}
