body {
    background-color: #06d6a0;
}
.btn-primary {
background-color: #fff;
border-color: #fff !important;
color: #EE6352;
}
.btn-primary:hover {
    background-color: #EE6352;
    color: #fff !important;
}
.follow-text {
    color: #fff;
    padding: 30px;
}
h2 {
    font-size: 22px;
    margin-top: 20px;
    border: 0.5px solid rgba(255,255,255,.7);
    padding: 20px;
    background-color: #06d6a0;
}
.card {
    margin: 20px;
    border: none;
    border: 0.5px solid rgba(255,255,255,.7);
    background-color: #EE6352;
    color: #fff;
}
.card-header {
    border: 0.5px solid rgba(255,255,255,.7);
    background-color: #EE6352;
    color: #fff;
}

footer {
    border-top: 0.5px solid rgba(255,255,255,.7);
}
