body {
    background-color: #06d6a0;
}
.btn-outline-light {
    width: 150px;
    margin: 5px;
    white-space: normal;
    color: #fff !important;
    border-color: #fff;
}
.btn-outline-light:hover {
    color: #118ab2 !important;
}

.follow-text {
    color: #fff;
    padding: 30px;
}
h2 {
    font-size: 22px;
    margin-top: 20px;
    border: 0.5px solid rgba(255,255,255,.7);
    padding: 20px;
    background-color: #06d6a0;
}

footer {
    border-top: 0.5px solid rgba(255,255,255,.7);
}
