.icon-pozicijos {
    width: 350px;
}
.btn-outline-light {
    width: 150px;
    margin: 5px;
    white-space: normal;
    color: #fff !important;
    border-color: #fff;
}
.btn-outline-light:hover {
    color: #118ab2 !important;
}

.text-positions {
    color: #fff;
}
.img-day{
    max-width: 600px;
    margin: 30px;
    
}

h2 {
    margin-bottom: 30px;
}
.third-right {
    background-color: #118ab2;
}
.third-right {
    padding: 40px;
}

