body {
    background-color: #06d6a0;
}
.btn-outline-light {
    width: 150px;
    margin: 5px;
    white-space: normal;
    color: #fff !important;
    border-color: #fff;
}
.btn-outline-light:hover {
    color: #118ab2 !important;
}

.positions-text {
    color: #fff;
    padding: 30px;
}
h2 {
    font-size: 22px;
    margin-top: 20px;
    border: 0.5px solid rgba(255,255,255,.7);
    padding: 20px;
    background-color: #06d6a0;
}
.positions-main {
    background-color: #fff;
    width: 70%;
    margin: auto;
    padding: 40px;
    margin-bottom: 20px;
}
.img-day {
    max-width: 500px;
    margin: auto;
}
footer {
    border-top: 0.5px solid rgba(255,255,255,.7);
}
.positions-btn {
    margin: auto;
}